<head>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        /* CSS used here will be applied after bootstrap.css */
#container {
width:960px;
margin:20px auto;
}
.col-sm-12 {
margin-bottom:20px;
}
.single {
float:none;
margin:0 auto;
}
.row.text-center > div {
    display: inline-block;
    float: none;
}
    </style>
</head>

<!-- 1 THUMBNAIL - CENTERED -->
<div id="container">
  
    <div class="row">
      
      <!-- Full Size Image -->
      <div class="col-sm-12">
        <img src="http://placehold.it/960x300">
      </div>
      
      <!-- Slider Thumbnails -->
      <div class="single col-sm-3">
        <img src="http://placehold.it/200x150">
      </div>
      
    </div>
    
  </div>
  
  <hr>
  
  <!-- 2 THUMBNAILS - CENTERED -->
  <div id="container">
    
    <div class="row">
      
      <!-- Full Size Image -->
      <div class="col-sm-12">
        <img src="http://placehold.it/960x300">
      </div>
      
      <!-- Slider Thumbnails -->
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <img src="http://placehold.it/200x150">
      </div>
      <div class="col-sm-3">
        <img src="http://placehold.it/200x150">
      </div>
      <div class="col-sm-3"></div>
      
    </div>
    
  </div>
  
  <hr>
  
  <!-- 3 THUMBNAILS - UNCENTERED -->
  <div id="container">
    
    <div class="row">
      
      <!-- Full Size Image -->
      <div class="col-sm-12">
        <img src="http://placehold.it/960x300">
      </div>
    </div>
    <div class="row text-center">
      <!-- Slider Thumbnails -->
      <div class="col-sm-3">
        <img src="http://placehold.it/200x150">
      </div>
      <div class="col-sm-3">
        <img src="http://placehold.it/200x150">
      </div>
      <div class="col-sm-3">
        <img src="http://placehold.it/200x150">
      </div>
  
    </div>
    
  </div>